/* ============================================
   ESTRUCTURA GENERAL
============================================ */
html {
    min-height: 100%;
    position: relative;
  }
  
  body {
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .contenido-principal {
    flex: 1;
  }
  
  /* ============================================
     HEADER
  ============================================ */
  header {
    position: sticky !important;
    top: 0 !important;
    background-color: #f6fafa;
    z-index: 1000;
  }
  
  /* ============================================
     GRID HEADER
  ============================================ */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
    text-align: center;
  }
  
  /* ============================================
     FORMULARIOS
  ============================================ */
  
  input, select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Botones de envío y reseteo */
  input[type='submit'],
  input[type='reset'] {
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
  }
  
  input[type='submit'] {
    background-color: #262e5b;
    color: #fff;
  }
  
  input[type='submit']:hover {
    background-color: #1b234a;
  }
  
  input[type='reset'] {
    background-color: #e0e0e0;
    color: #333;
  }
  
  input[type='reset']:hover {
    background-color: #d0d0d0;
  }
  
  /* ============================================
     MENSAJES
  ============================================ */
  .error {
    color: red;
    font-size: 14px;
  }
  
  .valido {
    color: gray;
  }
  
  /* ============================================
     TABLAS
  ============================================ */
  .encabezado-custom thead th {
    background-color: #262e5b;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  .encabezado-custom tbody td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
  }
  
  .encabezado-custom tr {
    background-color: transparent;
  }
  
  /* ============================================
     RESPONSIVE
  ============================================ */
  @media (max-width: 768px) {
    .table-responsive {
      font-size: 0.9rem;
    }
  
    .btn-sm {
      font-size: 0.75rem;
      padding: 0.3rem 0.5rem;
    }
  
    .form {
      padding: 20px 15px;
      margin: 10px;
    }
  
    input, select {
      font-size: 0.95rem;
    }
  
}
  