html {
    min-height: 100%;
    position: relative;    
}

.encabezado-custom tr {
    background-color: #262e5b;
    color: white;
    padding: 60px;
    width: 150px;
}

.encabezado-custom th {
    padding: 10px; /* Más espacio alrededor del texto */
    width: 5px;  /* Ancho de las columnas */
}
